@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');
@import 'variables.css';
@import 'spinner.css';
@import 'button.css';
@import 'menuList.css';
@import 'statistics.css';
@import 'cards.css';
@import 'driversOption.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: var(--toolbar-height);
    background-color: #401995;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.toolbar__title {
    font-family: 'Racing Sans One', cursive;
    color: var(--color-secondary);
}

.toolbar__menu {
    position: relative;
}

.page {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - var(--toolbar-height));
    margin-top: calc(var(--statistics-height) * -1);
    background-image: radial-gradient(#d85bf3, var(--color-primary));
    /* background-color: #eceff1; */
}

.page--disabled {
    display: none;
}

.page__container {
    margin: 50px auto;
    width: 100%;
    max-width: 900px;
}

.bet__title {
    margin-bottom: 20px;
}

.bet__drivers {
    display: flex;
    justify-content: space-between;
}

.container__button {
    display: flex;
    justify-content: center;
}

/* .drivers__option {
    position: relative;
    display: flex;
    border: 1px solid #000;
    width: calc(50% - var(--drivers-option-gap) / 2);
    height: 130px;
    cursor: pointer;
    user-select: none;
}

.drivers__option--is-selected {
    outline: 2px solid red;
} */

.image__img {
    display: block;
}

.option__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 15px;
}

.info__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
}

.info__country {
    display: flex;
    align-items: center;
}

.option__chances {
    display: flex;
    align-items: center;
    padding: 40px;
}

.option__spinner {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.option__spinner--is-loading {
    display: flex;
}

.spinner__icon {
    transform: scale(0.8);
}

.bet__calculate {
    display: flex;
    padding: 20px 0;
}

.calculate__field {
    flex-grow: 1;
}

.containter__race {
    display: flex;
    border: 1px solid #000;
}

.race__info {
    display: flex;
    border: 1px solid #000;
    width: 350px;
}

.info__member {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.member__country {
    display: flex;
    align-items: center;
}

.race__track {
    position: relative;
    flex-grow: 1;
}

.track__item {
    position: absolute;
    left: 0;
    transition: 10s;
    transform: translateX(0);
    width: 10%;
    height: 100%;
    border: 1px solid #000;
}

.track__item--running {
    animation: move both;
}

@keyframes move {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 10%);
    }
}
